<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Homepage</title>
    <meta charset="UTF-8">
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}">
    <script layout:fragment="scripts"></script>
    <link rel="stylesheet" th:href="@{/webjars/jqwidgets/6.0.4/styles/jqx.base.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jqwidgets/6.0.4/jqxcore.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jqwidgets/6.0.4/jqxsortable.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jqwidgets/6.0.4/jqxkanban.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jqwidgets/6.0.4/jqxdata.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <div layout:fragment="content">

    </div>
</body>
</html>

