<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head> <title>Forgot Password</title> </head>
<body>
<center>
    <div th:if="${send_error}">
        <p th:text="${send_error}"></p>
    </div>
    <form action="#" th:action="@{/forgot-password}" th:object="${user}" method="post">
        <table>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input th:field="*{email}" type="text" id="email" name="emailId"></input></td>

            </tr>
            <tr>
                <td><input type="reset" value="Clear"/></td>
                <td><input type="submit" value="Reset Password"></input></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>