<div layout:fragment="form" layout:decorate="~{layouts/entry}">

    <h1>Add new board</h1>
    <div th:if="${create_board_fail}">
        <p th:text="${create_board_fail}"></p>
    </div>
    <form action="#" th:action="@{/add-new-board}" method="post" enctype="multipart/form-data">

        <p>Board name: <input type="text" th:name="board" th:field="${board.name}" /></p>
        <p th:if="${#fields.hasErrors('board.name')}" th:errors="${board.name}">Name Error</p>

        <div id="movieList">
            <div class="row">
                <div class="col form-group">title</div>
            </div>
            <div class="row item">
                <div class="col form-group d-none">
                    <input type="text"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="button" onclick="addRow()">Add row</button>
            </div>
        </div>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>


</div>


    <script th:inline="javascript">
            let addRow = function () {
            let listName = 'section'; //list name in Catalog.class
            let fieldsNames = ['title']; //field names from Movie.class
            let rowIndex = document.querySelectorAll('.item').length; //we can add mock class to each movie-row

            let row = document.createElement('div');
            row.classList.add('row', 'item');

            fieldsNames.forEach((fieldName) => {
                let col = document.createElement('div');
                col.classList.add('col', 'form-group');
                if (fieldName === 'id') {
                    col.classList.add('d-none'); //field with id - hidden
                }

                let input = document.createElement('input');
                input.type = 'text';
                input.classList.add('form-control');
                input.id = listName + rowIndex + '.' + fieldName;
                input.setAttribute('name', listName + '[' + rowIndex + '].' + fieldName);

                col.appendChild(input);
                row.appendChild(col);
            });

            document.getElementById('movieList').appendChild(row);
    };
    </script>

</div>

